

<!-- Link to trigger modal -->
<a href="javascript:void(0);" class="btn btn-primary mpopupLink" onClick="opn_modal(this)" id="mpopupLink_{{iprt.id}}">
   {%- if iprt_free != blank -%}<span style="color: #ff8000;"><b>Free </b></span>{%- endif -%} {{iprt.title}}</a>


{%- if iprtIndex == 0 -%}
<script>


</script>
{%- endif -%}
